body{
  background-color: #fff;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
}
.navbar{
  height: 90px;
  background-color: #fff;
  border-bottom: .2px solid #000;
}
.navbar-brand{
  width: 87%;
  text-align: center;
  margin-left: 20px;
}
.navbar-brand h3{
  color: #000;
  font-size: 1.2em;
  margin-top: 7px;
}

.navbar-brand span{
  margin-left: 250px;
  margin-bottom: 20px;
}
#fav{
  margin-left: 7px;
}
#bell{
  margin-left: 7px;
}
#bag{
  margin-left: 7px;
}

.hide{
  position: absolute;
  top:30px;
  left: 15px;
  width:8%;
  visibility: visible;
  opacity: 1;
}
.hide.active{
  visibility: hidden;
  opacity: 0;
}


.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 100px;
  margin-right: 10px;
  background: #8C8;
  border: 1px solid #f97068;
  border-radius: 20px;
  counter-increment: carousel-cell;
}
.carousel-cell img{
  width: 100%;
  height: 100px;
  border-radius: 20px;
}
/* cell number */
/* .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 100px;
  font-size: 80px;
  color: white;
} */

.banner{
  width: 90%;
  height: 150px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.banner img{
  width: 100%;
  height: 150px;
  border: 2px solid #f97068;
  border-radius: 20px;
}
.banner2{
  width: 95%;
  height: 250px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.banner2 img{
  width: 100%;
  height: 250px;
  border: 2px solid #f97068;
  border-radius: 10px;
}
.banner3{
  width: 100%;
  height: 150px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.banner3 .carousel-cell {
  width: 66%;
  height: 150px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 20px;
  counter-increment: carousel-cell;
}
.banner3 .carousel-cell img{
  width: 100%;
  height: 150px;
  border: 2px solid #f97068;
  border-radius: 20px;
}
.four-frame{
  width: 95%;
  height: 370px;
  margin-right: 10px;
  background: #fff;
  border-radius: 20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.four-frame span{
  width: 100%;
  text-align: center;
}
.four-frame span h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 25px;
}
.four-frame div{
  width: 50%;
  height: 150px;
  float: left;
 margin-bottom: 35px;
 border-radius: 20px;
}
.four-frame div img{
  width: 80%;
  height: 150px;
  border: 2px solid #f97068;
  border-radius: 20px;
}
.four-frame div span p{
  position: relative;
  bottom: 60px;
  right: 0;
  width: 78%;
  margin-left: 22px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  color:#000;
  opacity: 1;
}

.circle-frame{
  width: 95%;
  height: 440px;
  background: #fff;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.circle-frame span{
  width: 100%;
  text-align: center;
}
.circle-frame span h3{
  font-size: 1.2em;
  font-weight: bold;
}

.circle-frame div{
  width: 28%;
  height: 100px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
 margin-bottom:30px;
 border-radius: 20px;
}

.circle-frame div img{
  width: 90%;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f97068;
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgba(120,120,22,.5),
                0 0 10px rgba(120,120,22,.5),
                0 0 10px rgba(120,120,22,.5),
                inset 0 0 10px rgba(120,120,22,.5);
}
.circle-frame div span{
font-weight: bold;
}

.frame{
  width: 95%;
  height: 190px;
  background: #fff;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.frame span{
  width: 100%;
  text-align: center;
}
.frame span h3{
  font-size: 1.2em;
  font-weight: bold;
}

.frame div{
  width: 28%;
  height: 100px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
 margin-bottom:30px;
 border-radius: 20px;
}

.frame div img{
  width: 90%;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f97068;
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgba(120,120,22,.5),
                0 0 10px rgba(120,120,22,.5),
                0 0 10px rgba(120,120,22,.5),
                inset 0 0 10px rgba(120,120,22,.5);
}
.frame div span{
font-weight: bold;
}

.banner4{
  width: 95%;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.banner4 span h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.banner4 img{
  width: 100%;
  height: 250px;
  border: 2px solid #f97068;
  border-radius: 10px;
}
.circle-w-frame{
  width: 95%;
  height: 740px;
  background: #fff;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.circle-w-frame span{
  width: 100%;
  text-align: center;
}
.circle-w-frame span h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 25px;
}
.circle-w-frame div{
  width: 28%;
  height: 100px;
  float: left;
  margin-top: 0px;
  margin-left: 15px;
 margin-bottom:30px;
 border-radius: 20px;
}

.circle-w-frame div img{
  width: 90%;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f97068;
  box-shadow: 0 0 10px rgba(120,120,22,.5),
                0 0 10px rgba(120,120,22,.5),
                0 0 10px rgba(120,120,22,.5),
                inset 0 0 10px rgba(120,120,22,.5);
}

.last{
  width:100%;
  height: 100px;
  text-align: center;
}
.last h6{
  font-style: oblique;
  opacity: .8;
}
.last #by{
  font-style: italic;
  opacity: .5;
}

.toggle{
  position: fixed;
  top:0%;
  left:0%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: #fff;
  width:100%;
  height: 100%;
  display:flex;
  justify-content: left;
  align-items: top;
  visibility: hidden;
  opacity: 0;
  }
.toggle.active{
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0s;
  visibility: visible;
  opacity: 1;
}

.items{
  list-style: none;
  margin-top: 90px;
  margin-left: 10px;
}
.items li{
  margin-bottom: 30px;
}
.items li a{
  color: #000;
  font-size: 1.5em;
  font-style: oblique;
  text-decoration: none;

}
.items li a:hover{
  font-size: 2em;
  font-weight: bold;
  border-bottom: .2px solid #000;
}
.nvbr{
  margin-left: -13px;
	background-color: #000;
	/* border:3px solid #fff;
	box-shadow: 0 0 5px rgba(102,252,241,.5),
                0 0 5px rgba(102,252,241,.5),
                0 0 5px rgba(102,252,241,.5),
                inset 0 0 10px rgba(102,252,241,.5); */
}
.nvbr span{
  color: #000;
  background-color: #fff;
  font-size: 1.2em;
  font-style: oblique;

}
.items div{
	border:2px solid #fff;
}
 .items div a {
	color:#000;
	background-color: #fff;
	font-size: 1.2em;
	letter-spacing: 4px;
	text-align: right;

}
.items div a.active,
 .items div a:hover{
 	color:#000;
 	font-weight: bold;
  border-bottom: .2px solid #000;
 }
.toggle img{
  position: absolute;
  top: 30px;
  right:40px;
  width: 5%;
  filter: invert(0);
}
.toggle h3{
    position: absolute;
    height: 30px;
    color: #000;
    font-size: 1.4em;
    margin-top: 20px;
    margin-left: 160px;

}
.find{
  position: fixed;
  top:0%;
  left:0%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: #fff;
  width:100%;
  height: 100%;
  display:flex;
  justify-content: left;
  align-items: top;
  visibility: hidden;
  opacity: 0;
  }
  .find.active{
    animation: right-in 0.5s ease-in forwards;
    animation-delay: 0s;
    visibility: visible;
    opacity: 1;

  }
  .find img{
    position: absolute;
    top: 20px;
    right:30px;
    width: 5%;
    filter: invert(0);
  }
  .go{
    position: absolute;
    top: 55px;
    left: 40px;
    width: 100%;
    height:50px;
    text-align: left;
  }
  .nav{
    width: 72%;
    height: 35px;
  	background-color: white;
    margin-left: 0px;
    border-radius: 20px;
  }

  .nav input{
    width: 100%;
    height:27px;
    margin-left: -2px;
    border: 0.1px solid #000;
    border-radius: 20px;
  }
  #Content{
    position: absolute;
    color: black;
    margin-top: 5px;
    margin-left: 15px;
    opacity: .7;
  }
  .go #con{
    position: absolute;
    top:7px;
    right: 132px;
    width: 10px;
    color: #000;
    background-color: #fff;
    font-size: 1.2em;
  }
  .find h3{
      position: absolute;
      height: 30px;
      color: #000;
      font-size: 1.4em;
      margin-top: 10px;
      margin-left: 160px;

  }

@keyframes left-in
{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes right-in
{
	0%{
		transform: translateY(-900px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

@media screen and (min-width:415px)
{
	 .hide{
		display: none;
	}
	 .toggle{
		display:none;
	}
}
